@font-face {
  font-family: 'Brandon';
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/BrandonGrotesque-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Brandon';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/BrandonGrotesque-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Brandon';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/BrandonGrotesque-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Brandon';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/BrandonGrotesque-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Brandon';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/BrandonGrotesque-Light.ttf') format('truetype');
}
