<div id="{{ config.section_id }}">
	<div class="container" style="display: none;">
		{% render 'map', influencers: influencers, config: config %}
		<div class="messaging">
			<h3>MEET OUR PALS</h3>
			<p>Click on the location tags to find out more about our curated itineraries</p>
			<p>Build your own dream itinerary and get a chance to <b>FLY FREE FOREVER</b>.</p>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		window.addEventListener('load', function () {
			(function() {
				var container = document.querySelector('#{{ config.section_id }} > .container');
				if (container) container.style.display = '';
				var $ = function (s) { return container.querySelectorAll(s); };
				var inViewport = function () { 
					var rect = container.querySelector('.map').getBoundingClientRect();
					var screen = (window.innerHeight || document.documentElementClientHeight);
					return rect.top + rect.height / 2 <= screen;
				};
				var mainTL = new gsap.timeline();

				mainTL
					.set($('.bubble, .polaroid'), { opacity: 0, scale: 0, z: 0.1 }, 0)
					.set($('.arrow.to-right svg'), { clipPath: 'ellipse(0% 100% at 00% 50%)' }, 0)
					.set($('.arrow.to-left svg'), { clipPath: 'ellipse(0% 100% at 100% 50%)' }, 0)
					.pause(true);
				
				mainTL
					.to($('.bubble'), { opacity: 1, scale: 1, duration: 0.5, delay: 1, stagger: 0.3, ease: 'power.out1' })
					.to($('.arrow.to-right svg'), { clipPath: 'ellipse(200% 100% at 00% 50%)', duration: 1, delay: 0.5, stagger: 0.3, ease: 'power.out1' }, '<')
					.to($('.arrow.to-left svg'), { clipPath: 'ellipse(200% 100% at 100% 50%)', duration: 1, delay: 0.5, stagger: 0.3, ease: 'power.out1' }, '<')
					.to($('.polaroid'), { opacity: 1, scale: 1, duration: 0.5, stagger: 0.3, ease: 'power.out1' }, '<');

				if (inViewport()) mainTL.play();
				window.addEventListener('scroll', function () {
					if (mainTL.progress() == 0 && inViewport()) mainTL.play();
				});				
			})();
		});
	</script>
</div>