<div class="map">
	<img class="background" src="assets/map.svg" alt="World map">
	<div class="pins">
		{% render 'pin' for influencers as influencer %}
	</div>
	<div class="influencers">
		{% render 'influencer' for influencers as influencer %}
	</div>
</div>