<div class="map">
	<img class="background" src="{{ config.map_image }}" alt="World map">
	<div class="influencers">
		{% render 'influencer' for influencers as influencer %}
	</div>
	<div class="pins">
		{% render 'pin' for influencers as influencer %}
	</div>
</div>